/* variable */
:root {
  --blue-cola: #0081d0;
  --black: #000000;
  --white: #ffffff;
}

/* default */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header  */
.head {
  background-image: url("../public/images/images_background.jpg");
  background-size: cover;
  background-origin: content-box;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 500px;
}

.card-header {
  background-color: var(--blue-cola);
  top: 20%;
  width: 25rem;
  height: 13rem;
}

.wrapper-button-header {
  padding-top: 7%;
}

.wrapper-button-header a {
  width: 100%;
}

.ladi-top {
  margin-top: -7%;
}

.icon_header {
  width: 59px;
  height: 69px;
}

/* content */
.advantage {
  border-radius: 15px;
  margin-bottom: -30px;
  z-index: 10;
}

.advantage-wrapper {
  background-color: var(--blue-cola);
  border-radius: 12px;
  padding: 50px 0;
  z-index: -1;
  margin: 0;
}

.advantage-wrapper div div {
  background-color: var(--white);
  border-radius: 12px;
}

.bg-normal {
  background-color: var(--blue-cola);
}

.radius-2 {
  border-radius: 25px;
}

.bg-normal div img {
  border-radius: 25px;
}

.checked-icon {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

ul li {
  list-style: none;
}

.abc li {
  list-style: disc;
}

.size_avatar {
  width: 130px;
  height: 130px;
}
.height-step-4 {
  height: 167.2px;
}
.fs-title-step-4 {
  font-size: 13px;
}
.fs-step-4 {
  font-size: 12px;
}

.mg-top-negative-avatar {
  margin-top: -1rem !important;
  margin-left: -2rem !important;
}

.forest-green {
  color: var(--blue-cola);
}

/* footer */
.icon_contact_1 {
  height: 100px;
}

.icon_contact {
  width: 112px;
  height: 40px;
  border-radius: inherit !important;
}

.ml-contact {
  margin-left: -0.5rem;
}

/* responsive */
@media only screen and (max-width: 768px) {
  /* header */
  .card-header {
    width: 20rem;
  }

  .header-wrapper {
    display: flex;
    justify-content: center;
  }
}

/* zalo icon */
@keyframes zoom {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes lucidgenzalo {
  0% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
}
.jscroll-to-top {
  bottom: 100px;
}
.fcta-zalo-ben-trong-nut svg path {
  fill: #fff;
}
.fcta-zalo-vi-tri-nut {
  position: fixed;
  bottom: 24px;
  right: 20px;
  z-index: 999;
}
.fcta-zalo-nen-nut,
div.fcta-zalo-mess {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
}
.fcta-zalo-nen-nut {
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: #0068ff;
  border-radius: 50%;
  position: relative;
}
.fcta-zalo-nen-nut::after,
.fcta-zalo-nen-nut::before {
  content: "";
  position: absolute;
  border: 1px solid #0068ff;
  background: #0068ff80;
  z-index: -1;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: zoom 1.9s linear infinite;
}
.fcta-zalo-nen-nut::after {
  animation-delay: 0.4s;
}
.fcta-zalo-ben-trong-nut,
.fcta-zalo-ben-trong-nut i {
  transition: all 1s;
}
.fcta-zalo-ben-trong-nut {
  position: absolute;
  text-align: center;
  width: 60%;
  height: 60%;
  left: 10px;
  bottom: 25px;
  line-height: 70px;
  font-size: 25px;
  opacity: 1;
}
.fcta-zalo-ben-trong-nut i {
  animation: lucidgenzalo 1s linear infinite;
}
.fcta-zalo-nen-nut:hover .fcta-zalo-ben-trong-nut,
.fcta-zalo-text {
  opacity: 0;
}
.fcta-zalo-nen-nut:hover i {
  transform: scale(0.5);
  transition: all 0.5s ease-in;
}
.fcta-zalo-text a {
  text-decoration: none;
  color: #fff;
}
.fcta-zalo-text {
  position: absolute;
  top: 6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  transform: scaleX(-1);
  transition: all 0.5s;
  line-height: 1.5;
}
.fcta-zalo-nen-nut:hover .fcta-zalo-text {
  transform: scaleX(1);
  opacity: 1;
}
div.fcta-zalo-mess {
  position: fixed;
  bottom: 29px;
  right: 58px;
  z-index: 99;
  background: #fff;
  padding: 7px 25px 7px 15px;
  color: #0068ff;
  border-radius: 50px 0 0 50px;
  font-weight: 700;
  font-size: 15px;
}
.fcta-zalo-mess span {
  color: #0068ff !important;
}
span#fcta-zalo-tracking {
  font-family: Roboto;
  line-height: 1.5;
}
.fcta-zalo-text {
  font-family: Roboto;
}

/* call icon */
.call-buton .cc-calto-action-ripple {
  z-index: 99999;
  position: fixed;
  right: 1rem;
  bottom: 8rem;
  background: #ec8b00;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  -webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
  animation: cc-calto-action-ripple 0.6s linear infinite;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}
.call-buton .cc-calto-action-ripple i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 2.2rem;
}
.call-buton .cc-calto-action-ripple:hover i {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

@-webkit-keyframes cc-calto-action-ripple {
  0% {
    -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2),
      0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2),
      0 0 0 10px rgba(236, 139, 0, 0.2);
    box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2),
      0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2),
      0 0 0 10px rgba(236, 139, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2),
      0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2),
      0 0 0 20px rgba(236, 139, 0, 0);
    box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2),
      0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2),
      0 0 0 20px rgba(236, 139, 0, 0);
  }
}

@keyframes cc-calto-action-ripple {
  0% {
    -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2),
      0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2),
      0 0 0 10px rgba(236, 139, 0, 0.2);
    box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2),
      0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2),
      0 0 0 10px rgba(236, 139, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2),
      0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2),
      0 0 0 20px rgba(236, 139, 0, 0);
    box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2),
      0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2),
      0 0 0 20px rgba(236, 139, 0, 0);
  }
}

span.num {
  position: absolute;
  color: #ec8b00;
  left: -30%;
  bottom: -50%;
}

/* button đăng ký vay */
.register-form .cc-register-action-ripple {
  z-index: 99999;
  position: fixed;
  left: 1rem;
  bottom: 3rem;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  -webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
  animation: cc-calto-action-ripple 0.6s linear infinite;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.register-form .cc-register-action-ripple i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 2.2rem;
}

.register-form .cc-register-action-ripple:hover i {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

@-webkit-keyframes glowing {
  0% {
    background-color: #004a7f;
    -webkit-box-shadow: 0 0 3px #004a7f;
  }
  50% {
    background-color: #0094ff;
    -webkit-box-shadow: 0 0 10px #0094ff;
  }
  100% {
    background-color: #004a7f;
    -webkit-box-shadow: 0 0 3px #004a7f;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #004a7f;
    -moz-box-shadow: 0 0 3px #004a7f;
  }
  50% {
    background-color: #0094ff;
    -moz-box-shadow: 0 0 10px #0094ff;
  }
  100% {
    background-color: #004a7f;
    -moz-box-shadow: 0 0 3px #004a7f;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #004a7f;
    box-shadow: 0 0 3px #004a7f;
  }
  50% {
    background-color: #0094ff;
    box-shadow: 0 0 10px #0094ff;
  }
  100% {
    background-color: #004a7f;
    box-shadow: 0 0 3px #004a7f;
  }
}

@keyframes glowing {
  0% {
    background-color: #004a7f;
    box-shadow: 0 0 3px #004a7f;
  }
  50% {
    background-color: #0094ff;
    box-shadow: 0 0 10px #0094ff;
  }
  100% {
    background-color: #004a7f;
    box-shadow: 0 0 3px #004a7f;
  }
}

.register-btn {
  padding: 0.8rem 4rem;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

/* modal in app */
.modal-close-button {
  position: relative;
}

.modal-close-button .close-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1;
}
